html, body {
    margin: 0;
    padding: 0;
    border:black ;
    border-width: thick;
  }
  
  html {
    font-size: 10px;
    
  }
  
  body {
    width: 50%;
    min-width: 800px;
    margin: 0 auto;
    }

.icon-bar {
  width: 90px;
  background-color:honeydew;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: black;
  font-size: 36px;
  
}

.icon-bar a:hover {
  background-color:rgb(189, 24, 24);
}

.active {
  background-color: rgb(190, 199, 207);
}
  h1 {
    font-family:Arial, Helvetica, sans-serif;
    color: #2a2a2a;
    font-size: larger;
  }
  
  p, input, li {
    font-family: 'Roboto Condensed', sans-serif;
    color:black;
    font-size: large;
  }
  
  h1 {
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 10px whitesmoke;
    padding-bottom: 1px;

  }
header img {
        display: block;
        height: 60px;
        padding-top: 20px;
        position: fixed;
        float: right;
}
nav li {
            display:inline-block;
            text-align: center;
            flex: 2;
           
            width: 2px;
            padding-bottom: 10%;
            

          }
nav a, nav span {
            display: inline-block;
            font-size: 2rem;
            height: 3rem;
            line-height: 1.7;
            text-transform: uppercase;
            text-decoration: none;
            color: black;
            padding: 10px;
          
}
h1 {
    flex: 5;
    text-transform: uppercase;
  }
  
  header img {
    display: block;
    height: 80px;
    padding-top: 25px;
  }
  
  nav {
    height: 50px;
    flex: 100%;
    display: flex;
    background-color:goldenrod;
    height: 15%;
    width: 100%;
  }
  
  nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  nav li {
    display: inline-block;
    text-align: center;
    flex: 1;
    
    
  }
  
  nav a, nav span {
    display: inline-block;
    font-size: 2rem;
    height: 3rem;
    line-height: 1.7;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  
  }
  
  /* || main layout */
  
  main {
    display: flex;
  }
a:link{
    color: forestgreen;
}
a:hover{
    color:navy ;
}
a:active{
    color: indigo;
}
main {
    display: flex;
  }
  
  article, section {
    flex: 4;
  }
  h2{
      text-emphasis: none;
      text-align: center;
      text-shadow: blanchedalmond;
      text-decoration: cadetblue;
      padding-top:1%;
  }
  
  aside {
    flex: 1;
    margin-left: 8px;
    padding: 2%;
  }
  
  aside a {
    display: block;
    float: left;
    width: 50%;
  }
  
  aside img {
    max-width: 100%;
    padding: right 20;%;
  }
